{% extends "layout.html" %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

{% block title %}
    Books
{% endblock %}

{% block body %}
    <h1>All Books</h1>
    
    
    <ul class="list-group ">
        <div class="container">
            <div class="row">
            {% for book in books %}
                <div class="col-sm-3">
                    <li class="list-group-item"><a href="{{ url_for('book', isbn=book.isbn) }}">
                        {{ book.title }} 
                    </a></li>
                    <li class="list-group-item disabled">{{ book.author }}</li>
                    <li class="list-group-item disabled">{{ book.isbn }}</li>
                </div>
            {% endfor %}
            </div>
        </div>
    </ul> 
    
    

{% endblock %}
